<h1>Alerts</h1>
<h5>-------------------------</h5>
<h3>You have <b>7</b> alerts!</h3>
<h5>-------------------------</h5>
<h4>Chef - Hospitality - 4.5km</h4>
<h4>Genius Front Ender - Computers - 1.2km</h4>
<h4>Build Breaker - Scrub - 11.8km</h4>
