<div class="date">
	<p>
	  <span class="clock-date"></span>
	</p>

	<p>
	   <span class="clock-time"></span>
	</p>
</div>

<div>
	<img src="../../images/cobalt.png" class="logo" alt="" />
</div>

<center><div class="message">Good Day, Cobalt!</div></center>

<p><center  class="alerts"><u>You have {{count}} jobs available.</u></center></p>

<p>

</p>
